numpy>=1.8
plyfile>=0.4
cython
scipy
matplotlib
pymcubes
pyhull
pytest
numba
pycollada
scikit-learn
-e git://github.com/crlab/binvox-rw-py.git#egg=binvox-rw
-e git://github.com/CRLab/python-pcl.git#egg=python-pcl
-e git://github.com/CRLab/MeshLabXML.git#egg=meshlabxml
